<!DOCTYPE html>
<html>
    <head>
        <title>
            About
        </title>
          <link rel="icon" href="/img/weather.png">
        <link rel='stylesheet', href='/css/styles.css'>

    </head>
<body>
    <div class='main-content'>
    {{>header}}
    
    <div class='divimg'>
    <img class="potrait"  src='/img/Myimg.jpg' >
   </div>
   <div>

   </div>
   This is Nilesh Verma , I am currently in an undergraduate in B.tech. I am currently 
   into MERN stack development and this website is first step towards that,
   I have learned this from Udemy and surely I'll amp up my work  with time to come 
   I hope that you'll like it.
  <br>
  <br>
   My LinkedIn :
   <a href="https://www.linkedin.com/in/nileshverma/">Here</a>
    </div>

  

     {{>footer}}

</body>


</html>